.slideshow video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px) brightness(15%);
    z-index: 0;
}

.slideshow .slideshow-images:nth-child(1) {
    animation-delay: 0s;
}
.slideshow .slideshow-images:nth-child(2) {
    animation-delay: 3s;
}
.slideshow .slideshow-images:nth-child(3) {
    animation-delay: 6s;
}

@keyframes fadeSlideshow {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes zoomEffect {
    0% {
        transform: scale(1) translate(0, 0);
    }
    50% {
        transform: scale(1.05) translate(-2%, -2%);
    }
    100% {
        transform: scale(1) translate(0, 0);
    }
}




/* carousel */

.carousel{
    animation: carousel-animation 1s ease-in-out forwards;
}

@keyframes carousel-animation{
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.carousel-container{
    margin-top: 10vh; 
    height: 60vh; 
    min-height: 6in;
    margin-left: 30px; 
    margin-right: 30px;
    display: flex;
}

.carousel-container .carousel{
    width: 50%;
}

.carousel-container .carousel-images{
    width: 50%;
    /* object-fit: cover; */
    position: relative;
    animation: image-animation 1s ease-in-out forwards;
}

@keyframes image-animation{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.carousel-container .carousel-images img{
    position: absolute;
    width: 400px;
    border: 1px solid gray;
}

.carousel-container .carousel-images img:nth-child(1){
    transform: translate(110px, 30px);
}

.carousel-container .carousel-images img:nth-child(2){
    transform: translate(390px, 160px);
}

/* .carousel-container .carousel-images img:nth-child(3){
    transform: translate(110px, 410px);
} */

.carousel-card .carousel-info{
    position: relative; 
    width: 90%; 
    padding: 20px;
}

.carousel-info .carousel-slide{
    position: absolute;
    opacity: 0;
}

.carousel-info .carousel-slide .title{
    /* font-family: 'Abril Fatface';  */
    /* font-family: 'Inter'; */
    font-size: 70px;
    color: white;
}

.carousel-info .carousel-slide .desc{
    margin-top: 30px;
    color: white;
    /* font-family: 'Work Sans'; */
}

.carousel-slide.active {
    opacity: 1;
    z-index: 1;
    animation: fadeInOut .5s ease-in;
}

.carousel div a{
    cursor: pointer;
}

@keyframes fadeInOut {
    0%   { opacity: 0; }
    100%  { opacity: 1; }
}

.carousel .carousel-card-container{
    margin-left: 30px; 
    margin-right: 30px; 
    height: 60%;
}

.carousel .carousel-card-container .carousel-card{
    margin-top: 15%; 
    display: flex; 
    height: 100%;
}

.carousel-card .carousel-prev{
    height: 100%;
    width: 5%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.carousel-card .carousel-next{
    width: 5%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* Navigation Bar */
.navbar{
    background-color: rgba(0,0,0, .5); 
    /* height: 150px;  */
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.navbar .nav-container{
    /* background-color: white;  */
    /* margin: 50px; */
}

.navbar .nav-container-mobile{
    /* background-color: white;  */
    /* margin: 50px; */
    display: none;
}


.navbar .nav-container ul{
    /* background-color: red;  */
    list-style: none; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.navbar .nav-container ul li{
    padding: 10px 50px 0 50px; 
    font-size: 20px; 
    text-transform: uppercase;
    color: white;
    font-family: 'Rajdhani';
}


/* behaviors */
@media screen and (max-width: 1670px) {
    
    .carousel-container .carousel-images img{
        position: absolute;
        width: 400px;
    }
    
    .carousel-container .carousel-images img:nth-child(1){
        transform: translate(60px, 30px);
    }
    
    .carousel-container .carousel-images img:nth-child(2){
        transform: translate(330px, 160px);
    }

}

@media screen and (max-width: 1555px) {
    
    .carousel-container .carousel-images img{
        position: absolute;
        width: 300px;
    }
    
    .carousel-container .carousel-images img:nth-child(1){
        transform: translate(30px, 30px);
    }
    
    .carousel-container .carousel-images img:nth-child(2){
        transform: translate(300px, 160px);
    }

}

@media screen and (max-width: 1300px) {
    
    .carousel-container .carousel-images img{
        position: absolute;
        width: 300px;
    }
    
    .carousel-container .carousel-images img:nth-child(1){
        transform: translate(30px, 30px);
    }
    
    .carousel-container .carousel-images img:nth-child(2){
        transform: translate(150px, 160px);
    }

}

@media screen and (max-width: 1050px) {

    .navbar{
        background-color: rgba(0,0,0, .5); 
        position: relative;
        /* height: 150px;  */
        /* display: flex; 
        align-items: center; 
        justify-content: center; */
    }

    .navbar .nav-container{
        /* background-color: white;  */
        /* margin: 50px; */
        display: none;
    }

    .navbar .nav-container-mobile{
        /* background-color: white;  */
        /* margin: 50px; */
        display: block;
        width: 100%;
    }
    
    .carousel-container .carousel-images{
        display: none;
    }

    .carousel-container .carousel{
        width: 100%;
    }

    .carousel .carousel-card-container{
        margin-left: 0; 
        margin-right: 0; 
        height: 60%;
    }

}